<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ObjectFinder</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">ObjectFinder<span>.</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Главная</a></li>
          <li><a href="#services">Объекты</a></li>
          <li><a href="#team">Команда</a></li>
                     
          <li><a href="#contact">Связаться с нами</a></li>

        
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row d-flex align-items-center"">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
       <h1>Добро пожаловать на ObjectFinder</h1>
        <h2>На нашем сайте вы можете увидеть все доступные спортивные объекты города Петрозаводск</h2>
         <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a> -->
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Спортивные объекты</h2>
          <p data-aos="fade-in">Список всех спортивных объектов города Петрозаводск.</p>
        </div>

        <div class="row">
          {% for hostel in hostels %}
            {% if hostel.id%2 != 0 %} 
              <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
              <div class="card">
              <div class="card-img">
              <img src="assets/img/object-{{hostel.id}}.jpg" alt="...">
              </div>
              <div class="card-body">
              <h5 class="card-title"><a href="/hostel-info/{{hostel.id}}">{{hostel.hname}}</a></h5>
              <p class="card-text">Для большей информации по объекту, нажмите 'Подробнее'</p>
              <div class="read-more"><a href="/hostel-info/{{hostel.id}}"><i class="icofont-arrow-right"></i>Подробнее</a></div>
              </div>
              </div>
              </div>
            {% else %}
              <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
              <div class="card">
              <div class="card-img">
              <img src="assets/img/object-{{hostel.id}}.jpg" alt="...">
              </div>
              <div class="card-body">
              <h5 class="card-title"><a href="/hostel-info/{{hostel.id}}">{{hostel.hname}}</a></h5>
              <p class="card-text">Для большей информации по объекту, нажмите 'Подробнее'</p>
              <div class="read-more"><a href="/hostel-info/{{hostel.id}}"><i class="icofont-arrow-right"></i>Подробнее</a></div>
              </div>
              </div>
              </div>
            {% endif %}
          {% endfor %}
       </div>
      </div>
    </section><!-- End Services Section -->
    
    <!-- ======= Team Section ======= -->
        <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Наша команда</h2>
          <p data-aos="fade-in">Люди, работавшие над проектом.</p>
        </div>

        
        <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="assets/img/bukita.jpg" alt=""></div>
              <h4>Никита Буторин</h4>
              <span>Заскамил Путина на 18к</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
           </div>
          <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="pic"><img src="assets/img/sf.jpg" alt=""></div>
              <h4>Иван Дзюба</h4>
              <span>sf abuzer</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
          </div>
      </div>
      

          <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="assets/img/razov.jpg" alt=""></div>
              <h4>Даниил Разов</h4>
              <span>Картежник, он же Шуллер</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
          </div>
        </div>

          <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="pic"><img src="assets/img/manan.jpg" alt=""></div>
              <h4>Даниил Лахонин</h4>
              <span>Мохавец</span>
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

<!--      ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-in">Связаться с нами</h2>
          <p data-aos="fade-in">Тут вы можете оставить свой вопрос/пожелание/предложение.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h3>Наш адрес</h3>
                  <p>г. Петрозаводск, проспект Первомайский 1А</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-envelope"></i>
                  <h3>Электронная почта
                  </h3>
                  <p>service@objectfinder.ru<br>contact@objectfinder.ru</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-phone-call"></i>
                  <h3>Горячая линия</h3>
                  <p>8-800-2000-122<br>8-800-2000-122</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Введите более 4-ех символов" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваша почта" data-rule="email" data-msg="Введите рабочий e-mail" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема письма" data-rule="minlen:4" data-msg="Введите более 8-ми символов в тему сообщения" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Пожалуйста, напишите что-нибудь." placeholder="Сообщение"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <!-- <div class="loading">Loading</div> -->
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение отправлено! Спасибо за фидбек!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>ObjectFinder</h3>
            <p></p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Введите свою почту"><input type="submit" value="Подписаться">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; ObjectFinder Copyright <strong><span>ObjectFinder</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
 Создана <a href="#team">студентами 4ИС-2</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>